# NEXT_PUBLIC_IDENTITY_API_URL=http://localhost:5000
# NEXT_PUBLIC_GRADUS_API_URL=http://localhost:5001

# Identity API — server side
IDENTITY_API_URL=http://localhost:5000

# URL pública del IdP — client side (para redirects en el browser)
NEXT_PUBLIC_IDENTITY_URL=http://localhost:5000

# Datos de la app registrada en el IdP
CLIENT_ID=portal
CLIENT_SECRET=portal-secret-change-me
REDIRECT_URI=http://localhost:3002/api/auth/callback

# URL base de portal
NEXT_PUBLIC_APP_URL=http://localhost:3002