# NEXT_PUBLIC_IDENTITY_API_URL=http://localhost:5000
# NEXT_PUBLIC_GRADUS_API_URL=http://localhost:5001

# URL interna del Identity API (server-side)
IDENTITY_API_URL=http://localhost:5000

# URL pública del Identity API (client-side)
NEXT_PUBLIC_IDENTITY_URL=http://localhost:5000

